@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body {
    background: linear-gradient(to bottom, rgba(49, 48, 48, 0.671) 0%, rgba(253, 42, 42, 0.822) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91.5vh;
}

.main-login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-container{
    position: absolute;
    top: 15%;
    height: auto;
    width: 90%;
    border-radius: 20px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
}

.expense-container > div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 30px;
    height: 90%;
}

.login-container{
  position: absolute;
  top: 25%;
  height: auto;
  width: 350px;
  border-radius: 20px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.575);
  
}

.login-container > div{
  box-shadow: rgba(252, 251, 251, 0.904) 0px 3px 8px;
  border-radius: 10px;
  padding: 30px;
  height: 380px;
}

.login-forecolor{
  color: rgb(255, 255, 255);
}



.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contract-name{
    font-size: 1.5em;
}

.grand-total{
    font-size: 1.2rem;
    color: rgb(158, 48, 48);
    font-weight: bolder;
}

.contract-amount-tax{
    color: rgb(226, 24, 24);
}

.hr-contract-amount-tax{
    background-color: rgb(226, 24, 24);
}

table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
    text-align: center;
}

.table-billing{
    width: 100%;
}

.billing-amount{
    position: relative;
    border-bottom: 1px;
    height: 2px;
    width: 30%;
    float: right;
    background-color: black;
    
}

.billing-sum{
    position: relative;
    font-weight: bolder;
    float: right;
}

.thead-color{
      color: rgb(255, 251, 251);
      background-color: rgb(109, 36, 26);
      border-color: rgb(255, 255, 255);

}


/** INDEX **/
#background-image{
    position: relative;
    top: 0;
    height: 94.5vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /**ABOUT US **/
  #about-us{
    background: url('./images/about_us.png') no-repeat;
    position:relative;
    min-height: 100vh;
    width: 100%;    
    background-color: #ffffff;
    opacity: .8;
  }
  
  .about-us-header, .about-us-h3{
    font-family:"Poppins",sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1.5rem 0;
    color: rgb(245, 8, 8);
    text-shadow: 3px 3px #000000;
  }
  
  .about-us-header{
    text-align: center;
    font-size: 2.5rem;
  }

/** MISSION VISION **/

div>div>p{
    position: relative;
    text-align: justify;
    font-family:"Poppins",sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    color: rgb(17, 17, 17);
  }
  
  
  #article{
    position:relative;
    left: 0;
    top:0px;
    min-height: 100vh;
  }
  
  #vision-image{
    width: 100%;
    height: 91.5vh;
    z-index: -1;
  }
  
  .side-bar{
    position: absolute;
    top:15%;
    height: 70%;
    background-color: rgba(53, 41, 41, 0.788);
    opacity: 1;
  }
  
  div[class="col-lg-10 col-md-10 col-sm-12 col-12"]>p{
    top: 15px;
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  
  div>div>div>ul>li{
    text-decoration: none;
    color: white;
  }
  
  div>div>div>ul{
    position: relative;
    list-style-type: none;
    text-align: center;
    top: 50px;
  }
  
  div>div>div>ul>li{
  position: relative;
  left: -20px;
  margin:  0 0 70px 0;
  font-weight: 700;
  }
  
  
  div>div>div>ul>li::after{
    position: relative;
    left: -20px;
    margin: 30px 0px;
    padding: 0 20px;
    text-align: center;
    }
  
  div>div>div>ul>li:hover{
    text-align: center;
    border-bottom: #f7f6f6 solid;
    transition: .3s ease;
    }

    @media (max-width:992px){
      
        /** MISSION VISION **/
      
        .side-bar{
          position: absolute;
          top:13%;
          height: 60%;
          background-color: rgba(53, 41, 41, 0.788);
          opacity: 1;
        }
        
        div[class="col-lg-10 col-md-10 col-sm-12 col-12"]>p{
          top: 15px;
          color: rgb(255, 255, 255);
          font-size: 1.15rem;
        }
        
        div>div>div>ul>li{
          text-decoration: none;
          color: white;
        }
        
        div>div>div>ul{
          position: relative;
          list-style-type: none;
          text-align: center;
          top: 50px;
        }
        
        div>div>div>ul>li{
        position: relative;
        left: -20px;
        margin:  0 0 70px 0;
        font-weight: 700;
        }
        
        
        div>div>div>ul>li::after{
          position: relative;
          left: -20px;
          margin: 30px 0px;
          padding: 0 20px;
          text-align: center;
          }
        
        div>div>div>ul>li:hover{
          text-align: center;
          border-bottom: #f7f6f6 solid;
          transition: .3s ease;
          }
        
      /** ABOUT US **/

      #about-us{
        background: url('./images/about-us-2.png') no-repeat;
        background-position: center;
        position:relative;
        min-height: 100vh;
        width: 100%;
        background-color: #ffffff;
      }
      

      /** LOGIN **/

      .login-container{
        position: absolute;
        top: 15%;
        width: 350px;
        
      }

      }
      
      
      @media (max-width:820px){
      
        /** MISSION VISION **/
        
      div>div>p{
        position: relative;
        text-align: justify;
        font-family:"Poppins",sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(17, 17, 17);
      }
      
      .side-bar{
          position: absolute;
          top:10%;
          height: 60%;
          background-color: rgba(53, 41, 41, 0.788);
          opacity: 1;
        }
        
        div[class="col-lg-10 col-md-10 col-sm-12 col-12"]>p{
          top: 15px;
          color: rgb(255, 255, 255);
          font-size: 1rem;
        }
        
        div>div>div>ul>li{
          text-decoration: none;
          color: white;
          
        }
        
        div>div>div>ul{
          position: relative;
          list-style-type: none;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          text-align: center;
          top: 25px;
        }
        
        div>div>div>ul>li{
        position: relative;
        left: -20px;
        margin:  0 0 10px 0;
        font-weight: 700;
        }
        
        
        div>div>div>ul>li::after{
          position: relative;
          left: -20px;
          margin: 30px 0px;
          text-align: center;
          }
      /** ABOUT US **/
      
      .about-us-header, .about-us-h3{
        font-family:"Poppins",sans-serif;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1rem 0;
        color: rgb(245, 8, 8);
        text-shadow: 2px 2px #000000;
      }
      } 

      /** MISSION VISION **/

      @media (max-width:720px){
        .side-bar{
            position: absolute;
            top:10%;
            height: 80%;
            background-color: rgba(53, 41, 41, 0.788);
            opacity: 1;
          } 


            /** LOGIN **/

      .login-container{
        position: absolute;
        top: 15%;
        width: 350px;
        
      }
      }